.repository {
  background: var(--black-4);
  background: linear-gradient(90deg, rgba(17, 23, 41, 1) 0%, rgba(29, 27, 72, 1) 100%);
  background-clip: padding-box;
  padding: 24px;
  border: 2px solid transparent;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
  min-height: max-content;

  cursor: pointer;
  transition: all .5s ease-in-out;
}

.repository:hover {
  border-color: var(--white);
  filter: brightness(150%);
}

h2.repository__title,
p.repository__description,
span.repository__details--text {
  font-size: 1rem;
}

p.repository__description,
span.repository__details--text,
span.repository__details--updateInfo {
  color: var(--gray-light);
}

h2.repository__title,
p.repository__description {
  margin: 0;
}

.repository__details,
.repository__details__tags {
  display: flex;
  align-items: center;
}

.repository__details {
  gap: 16px;
  flex-flow: row wrap;
}

.repository__details__tags {
  gap: 2px;

  .repository__details--icon {
    width: 20px;
    height: 20px;
  }

  &:last-of-type {
    margin-right: 8px;
  }
}

.repository__details--updateInfo {
  font-size: 0.75rem;
}
