main {
  padding: 24px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border: 8px solid var(--black-2);
  margin-top: -50px;
  border-radius: 20px;
}

.infopill-container {
  margin-block: 16px;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

h1.title-page,
p.subtitle-page {
  margin: 0;
}

h1.title-page {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 8px;
}

p.subtitle-page {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 24px;
}

.repository-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  gap: 32px;
}