.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  background-color: var(--black-default);
  padding: 24px 16px;

  background-image: url('../resources/hero-image-github-profile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 150px;
}

.user-info {
  background: rgba(0, 0, 0, 0.7);
  padding: 16px;
  border-radius: 8px;
  color: white;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.user-info h2 {
  margin: 0 0 8px 0;
  font-size: 1.5rem;
}

.user-info p {
  margin: 0;
  color: var(--gray-dark);
}

.app-header__search {
  font-size: 1rem;
  
  background-color: var(--black-2);
  border-radius: 8px;
  border: none;
  padding: 16px;
  padding-left: 40px;
  color: white;
  position: relative;
  display: block;

  width: 100%;
  max-width: 600px;

  background-image: url('../resources/Search.svg');
  background-repeat: no-repeat;
  background-position: left 8px center;
}

.app-header__search::placeholder {
  color: var(--gray-dark);
}