.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  background-color: var(--black-default);
  padding: 24px 16px;

  background-image: url('../../assets/hero-image-github-profile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 150px;
}

.user-info,
.app-header__search {
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.user-info {
  padding: 8px;
  display: flex;
  background: var(--black-4);
  color: white;
  width: 100%;
  cursor: pointer;
  gap: 20px;

  transition: 0.2s all ease-in-out;
}

.user-info:hover {
  background: var(--black-3);
}

.user-info .image-container img {
  height: 80px;
  border-radius: 8px;
}

.user-info .data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;

  & h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
  }

  & p {
    margin: 0;
    color: var(--gray-dark);
  }
}

.app-header__search {
  font-size: 1rem;

  background-color: var(--black-2);
  border: none;
  padding-left: 40px;
  color: white;
  position: relative;
  display: block;

  background-image: url('../../assets/Search.svg');
  background-repeat: no-repeat;
  background-position: left 8px center;
}

.app-header__search::placeholder {
  color: var(--gray-dark);
}
